.container {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.title {
  font-size: 18px;
  color: var(--main-text-color);
  text-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}
